.background {
  background-image: url("./img/embossed-diamond.png");
  background-repeat: repeat;
  height: 100vh;
  /* background-size: cover; */
  background-attachment: fixed;
  display: "fixed";
  /* height: 0%; */
}
